<div
  class="h-[100vh] flex items-center justify-center flex-col global-theme space-y-3"
>
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
  <button
    type="button"
    class="bg-secondary-default h-button-sm px-4 rounded-md text-white hover:bg-secondary-900"
  >
    Small
  </button>
  <button
    type="button"
    class="bg-secondary-default h-button-md px-4 rounded-md text-white hover:bg-secondary-900"
  >
    Medium
  </button>
  <button
    type="button"
    class="bg-secondary-default h-button-lg px-4 rounded-md text-white hover:bg-secondary-900"
  >
    Large
  </button>
  <button
    type="button"
    class="bg-secondary-default h-button-xl px-4 rounded-md text-white hover:bg-secondary-900"
  >
    Extra Large
  </button>
</div>
